@import "../settings/_settings.scss";


main#services {
	background-image: url('/img/services/bg.jpg');

	.main-content {
		background-image: url('/img/services/bg-blur.jpg');
		background-size: cover;
	}
}

.page-header#services-header {
	padding: 0 em(16);

	h1 {
		margin: rem(8) 0 rem(16);
	}

	p {
		margin: 0 0 rem(16) 0;
		font-size: rem(19);
	}

	h3 {
		font-size: rem(23);
	}
}

.services-verbiage {
	padding: 1em;

	h4 {
		span {
			font-family: 'atlas', sans-serif;
		}
	}

	p {
		margin-top: rem(6);
		font-size: rem(19);
	}
}

.purchase-lease-button {
	text-align: center;
	padding: 1em;

	a.big-green-button {
		margin: rem(20) auto rem(45);
		padding: rem(10) rem(16);

		&:hover {
			margin: rem(21) auto rem(43);
		}	
	}
}

#services-modal {
	h1 {
		font-family: 'atlas', sans-serif;
		letter-spacing: rem(1.4);
	}

	h3 {
		padding: 0 rem(20);

		@include media($small-plus) {
			padding: 0;
		}
	}
}