DirectoryIndex index.php index.shtml index.html index.htm default.html default.htm index.asp index.cfm index.php5 index.php3 Index.htm Index.html home.htm home.html Home.htm Home.html Default.html Default.htm at_domains_index.html index.html.var


ErrorDocument 404 /cgi-bin/404




# Added for Custom 404 Error
