@import "../settings/_settings.scss";

header#index {
	@include media($small-plus) {
		visibility: visible;
		display: block;
	}
}

header {

	#logo-container {
		@include span-columns(4 of 16);
		position: relative;
		padding: 1px;

		@include media($large) {
			padding: 0;
			@include span-columns(3 of 12);
		}

		@include media($medium) {
			@include span-columns(10 of 10);
			background: #4C3211;
			text-align: center;
			z-index: 55;
		}
		
		picture {
			max-width: 200px;
			width: 100%;
			margin-left: -100px;
			left: 50%;
			position: absolute;
			z-index: 999;

			@include media($large) {
				max-width: 160px;
				margin-left: -75px;
				left: 45%;
			}

			@include media($medium) {
				max-width: 300px;
				left: 0;
				margin: 0;
				position: relative;

				img {
					max-width: 300px;
					margin: 1em auto;
				}
			}

		}

	}







	#phone-container {
		@include span-columns(6);
		@include shift(5);

		@include media($large) {
			visibility: hidden;
			display: none;
		}

		aside {
			margin: 0 auto;
			height: 45px;
			background: $dark-brown;
			border-radius: 0.625em 0.625em 0px 0px;
			border-top: 0.125em solid #fff;
			border-left: 0.125em solid #fff;
			border-right: 0.125em solid #fff;
			text-align: center;
			width: 21.875em;

			h3 {
				margin-top: $three;
				color: #fff;
			}
		}
	}

	@include media($small-plus) {
		visibility: hidden;
		display: none;
	}
}

